<div class="jumbotron">
  <h1>Feedback!</h1>
  <p class="lead">
    How was the session??
  </p>

</div>

<div class="row marketing">
  <h4>Leave your comments here</h4>
  <input class="comments-box" type="text" ng-model="comments">
  <h4>Rating</h4>
  <p><rating class="stars" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></p>
</div>

<div class="button-submit" ng-click="submit()"><a class="btn btn-lg btn-success">Submit<span class="glyphicon glyphicon-ok"></span></a></div>
