<div class="jumbotron">
  <h1>Feedback!</h1>
  <p class="lead">
    How was the session??
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="row marketing">
  <h4>Leave your comments here</h4>
  <input class="comments-box" type="text">
  <h4>Rating</h4>
  <p><rating class="stars" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></p>
</div>
